.*
!/.gitignore
target
tmp
logs
cache_store
*.iml
dependency-reduced-pom.xml
admin_token
/sandbox/
/bin/
/db.sqlite
/lite/liteDB.sqlite
/full/vc/
/lite/krill_cache/

# FB specific Kustvakt.conf
src\main\resources\Kustvakt.conf