<html>
    <body>
        <h3>Hi $username,</h3>
        <p> you have been invited to group $group by $inviter! </p>
        <p> Please login to <a href="https://korap.ids-mannheim.de/kalamar">KorAP</a> with your
            account to accept or reject this invitation within 30 minutes. </p>
        <p>After joining a group, you will be able to access virtual corpora shared with members of
            the group. If you would like share your virtual corpus to a group, please contact the
            group admin.</p>
        <p> This is an automated generated email. Please do not reply directly to this e-mail. </p>
    </body>
</html>