<html>
	<body>
		<h3>Hi ${username}, you are invited to group {$group} by ${inviter}!</h3>
		<p>
			Login to KorAP to accept or reject the invitation.
			<br /> 
			The invitation is valid for 30 minutes.
		</p>
		<p>
			Do not reply! This is an automated generated email.
		</p>
	</body>
</html>